@font-face {
    font-family: Antipasto-DemiBold;
    src: url(letter/antipasto/AntipastoPro-DemiBold.ttf);
}

@font-face {
    font-family: Antipasto-Regular;
    src: url(letter/antipasto/AntipastoPro-Medium.ttf);
}

@font-face {
    font-family: Antipasto-ExtraLight;
    src: url(letter/antipasto/AntipastoPro-Extralight.ttf);
}

@font-face {
    font-family: Inter;
    src: url(letter/inter/InterTight-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#my-scrollbar {
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}


.sphere{
    position: absolute;
    margin: auto;
    left: 50%;
    right: 0;
    width: 10vh;
    height: 10vh;
    background-color: #2e2c2c;
    border-radius: 100%;
    z-index: 1;
    animation: sphereAnimation 1s ease-in-out 200ms 1 forwards;
}

.sphereAnimationClass{
    animation: sphereAnimation1 1s ease-in-out 200ms 1 forwards;
}

@keyframes sphereAnimation {
    0%{left: 50%; top: 0;}
    100%{left: 0%; top: 55%;}
}

@keyframes sphereAnimation1 {
    0%{left: 0%; top: 55%;}
    100%{left: 0%; top: 145%;}
}



/* HOME SECTION START*/

#home{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #282828;
    z-index: 2;
    cursor: none;
}

.circleFollowMouse{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #f7f8fa;
    border-radius: 50%;
    mix-blend-mode:screen;
}

.help{
    height: 0.1px;
    width: 100vw;
    background-color: #282828;
    position: relative;
}

#navbar{
    position: fixed;
    left: 0;
    right: 0;
    margin: 2% auto;
    width: 100vw;
    height: fit-content;
    z-index: 4;
}

.nav-item{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #9cdcfe;
    margin: auto 1%;
    font-size: 1.5rem;
}

#nav-home{
    color: #fff;
}

.nav-item:hover{
    cursor: pointer;
}

.title{
    z-index: 2;
    font-family: Antipasto-Regular;
    font-weight: 400;
    font-size: 6.3rem;
    line-height: 85%;
}

.container-start{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.title-start{
    left: 0;
    right: 0;
    width: 100%;
    color: #fff;
    z-index: 2;
}

.title-light{
    font-family: Antipasto-ExtraLight;
    color: #fff;
}

.code-part{
    position: relative;
    padding: 2% 4% 2% 2%;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 4% auto;
    background-color: #212121;
    box-shadow: 15px 10px #000000;
    z-index: 2;
}

.code-text{
    position:static;
    width: 100%;
    color: white;
    font-family: Antipasto-Regular;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 100%;
    text-align: left;
    z-index: 2;
}

.opencode{
    color: #89DDFF;
}

.midcode{
    color: #F07178;
}

/* HOME SECTION END*/


/* ABOUT SECTION START*/

#about{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.svg{
    position: absolute;
    width: 120px;
    height: 120px;
    margin: auto;
    left: 0;
    right: 0;
    top: 48%;
    padding: 1%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.svg:hover{
    cursor: pointer;
}

/*START OF EXPLOSION ANIMATION*/
@keyframes boatAnimation {
    0%{left: 0; top: 48%;}
    100%{left: -40%; top: 18%;} 
}

@keyframes musicAnimation {
    0%{left: 0; top: 48%;}
    100%{left: 35%; top: 18%;} 
}

@keyframes booknimation {
    0%{left: 0; top: 48%;}
    100%{left: 67%; top: 50%;} 
}

@keyframes footbalAnimation {
    0%{left: 0; top: 48%;}
    100%{left: 27%; top: 78%;} 
}

@keyframes peice_puzzleAnimation {
    0%{left: 0; top: 48%;}
    100%{left: -37%; top: 82%;} 
}

@keyframes paper_planeAnimation {
    0%{left: 0; top: 48%;}
    100%{left: -67%; top: 48%;} 
}
/*END EXPLOSION ANIMATION*/


/*DON´T GET LOST IN ALL OF THESE ANIMATIONS CUS I GOT 100 TIMES*/

/*START MOVE UP AND DOWN ANIMATION*/

@keyframes boatUpDownAnimation {
    0%{left: -40%; top:18%;}
    100%{left: -40%; top: 14%;} 
}

@keyframes musicUpDownAnimation {
    0%{left: 35%; top: 18%;}
    100%{left: 35%; top: 22%;} 
}

@keyframes bookUpDownnimation {
    0%{left: 67%; top: 50%;}
    100%{left: 62%; top: 54%;} 
}

@keyframes footbalUpDownAnimation {
    0%{left: 27%; top: 78%;}
    100%{left: 27%; top: 82%;} 
}

@keyframes peice_puzzleUpDownAnimation {
    0%{left: -37%; top: 82%;}
    100%{left: -37%; top: 78%;} 
}

@keyframes paper_planeUpDownAnimation {
    0%{left: -67%; top:48%;}
    100%{left: -62%; top: 44%;} 
}

/*END MOVE UP AND DOWN ANIMATION*/
.code-about{
    position: relative;
    width: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    left: 0;
    right: 0;
    background-color: #212121;
    z-index: 2;
}

.text-about{
    padding: 13px 19px;
    width: fit-content;
    color: white;
    font-family: Antipasto-Regular;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: left;
}

/* ABOUT SECTION END*/

/* PROJECTS SECTION START*/

#projects{
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    height: max-content;
    background-color: #282828;
}

.middle-point{
    background-color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

.project-container{
    width: 100%;
    max-width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.project-item{
    position: relative;
    margin-right: 2%;
    margin-left: 2%;
    height: 300px;
    width: 500px;
    transition: all 1s;
}


.project-item:hover .projects-text-container{
    transform: translateY(-0%);
    opacity: 1;
    z-index: 2;
    visibility: visible;
}

.project-img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 1;
}

.projects-text-container{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.869);
    transform: translateY(-100%);
    z-index: 0;
    opacity: 0;
    transition: all 0.8s;
    visibility: hidden;
}

.projects-tecnologys{
    display: flex;
    justify-content: end;
    margin: 5px 40px 20px;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    color: white;
}

.text-container{
    text-align: right;
    float: left;
    margin: 0%;
    width: 50%;
}

.bar-container{
    float: right;
    width: 50%;
}

.bar{
    margin: 5px 0 24px;
}

.bar90{
    border-radius: 90px;
    background-color:darkslateblue;
    height: 20px;
    width: 80%;
}

.bar80{
    border-radius: 90px;
    background-color: violet;
    height: 20px;
    width: 80%;
}

.bar70{
    border-radius: 90px;
    background-color: palegreen;
    height: 20px;
    width: 70%;
}

.bar60{
    border-radius: 90px;
    background-color: purple;
    height: 20px;
    width: 60%;
}

.bar50{
    border-radius: 90px;
    background-color: lightcoral;
    height: 20px;
    width: 60%;
}

.bar40{
    border-radius: 90px;
    background-color: pink;
    height: 20px;
    width: 40%;
}

.bar20{
    border-radius: 90px;
    background-color: lightseagreen;
    height: 20px;
    width: 60%;
}

.bar10{
    border-radius: 90px;
    background-color: greenyellow;
    height: 20px;
    width: 10%;
}


.projects-text{
    font-family: Inter;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.project-icon{
    margin: auto 20px;
    position: relative;
    top: 90%;
    transform: translateY(-90%);
    color: green;
    z-index: 1;
    border-radius:0;
    font-size: 30px;
}

.green{
    color: rgb(14, 203, 71);
}

.orange{
    color: orange;
}

.red{
    color: rgb(135, 0, 0);
}

.one{
    background-color: purple;
}

.two{
    background-color: #290000;
}

.three{
    background-color: #F07178;
}

/* PROJECTS SECTION END*/

/* CONTACT SECTION START*/
#contact{
    position: relative;
    text-align: center;
    width: 100%;
    height: max-content;
    background-color: #282828;
    padding: 10px 0 13%;
}

.contact-text{
    position: relative;
    margin: 8% auto 30px;
    width: 600px;
    color: #FFFF;
    font-size: 2.8rem;
    font-family:Antipasto-DemiBold;
}

.email-container{
    width: 600px;
    margin: auto;
    background-color: #F07178;
}

.email-container:hover{
    background-color: #952d32;
    cursor: pointer;
}

.email-container:active .label:after{
    content: "COPIED";
}

.email-container:active{
    background-color: green;
}


.label:after{
    content:'antoniosilvavaz04@gmail.com';
}
.label:hover:after{
    content:'COPY';
}

.email-text{
    padding: 50px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #FFFF;
    font-size: 2rem;
    display: block;
    font-family:Inter;
}

i{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    font-size: 5rem;
    color: white;
}
/* CONTACT SECTION END*/

/* FOOTER SECTION START*/
#footer{
    width: 100%;
    height: 8vh;
    background-color: #290000;
}

.footer-text{
    position: relative;
    width: 90%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    font-family:Antipasto-Regular;
    color: #ff8080;
    font-size: 1.5rem;
}

.footer-text-1{
    color: white;
}

/* FOOTER SECTION END*/

@media (max-width: 1024px) {

    .project-container{
        margin: auto;
        text-align: center;
        display: block;
    }

    .project-item{
        margin: 4% auto;
        background-color: red;
        width: 80%;
        height: 400px;
    }

    
}

@media (max-width: 768px){
    #home{
        height: 800px;
    }

    #navbar{
        margin-top: 3%;
    }
    .nav-item{
        margin-left: 3%;
    }
    .circleFollowMouse{
        visibility: hidden;
    }
    
    /*START OF EXPLOSION ANIMATION*/
    @keyframes boatAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -40%; top: 18%;} 
    }

    @keyframes musicAnimation {
        0%{left: 0; top: 48%;}
        100%{left: 35%; top: 14%;} 
    }

    @keyframes booknimation {
        0%{left: 0; top: 48%;}
        100%{left: 69%; top: 50%;} 
    }

    @keyframes footbalAnimation {
        0%{left: 0; top: 48%;}
        100%{left: 27%; top: 80%;} 
    }

    @keyframes peice_puzzleAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -37%; top: 86%;} 
    }

    @keyframes paper_planeAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -69%; top: 48%;} 
    }
    /*END EXPLOSION ANIMATION*/
    

    /*START MOVE UP AND DOWN ANIMATION*/

    @keyframes boatUpDownAnimation {
        0%{left: -40%; top:18%;}
        100%{left: -40%; top: 14%;} 
    }

    @keyframes musicUpDownAnimation {
        0%{left: 35%; top: 14%;}
        100%{left: 35%; top: 18%;} 
    }

    @keyframes bookUpDownnimation {
        0%{left: 69%; top: 50%;}
        100%{left: 64%; top: 54%;} 
    }

    @keyframes footbalUpDownAnimation {
        0%{left: 27%; top: 80%;}
        100%{left: 27%; top: 84%;} 
    }

    @keyframes peice_puzzleUpDownAnimation {
        0%{left: -37%; top: 86%;}
        100%{left: -37%; top: 82%;} 
    }

    @keyframes paper_planeUpDownAnimation {
        0%{left: -69%; top:48%;}
        100%{left: -64%; top: 44%;} 
    }

    .svg{
        width: 90px;
        height: 90px;
    }

    .project-item{
        height: 300px;
    }

    .project-icon{
        font-size: 25px;
    }

    .contact-text{
        width: 70%;
        font-size: 2.2rem;
    }

    .email-container{
        width: max-content;
        height: 100px;
    }

    .label{
        font-size: 25px;
    }

    .email-text{
        padding: 30px;
    }
}

@media (max-width:425px) {
    #home{
        height: 800px;
    }

    #navbar{
        margin-top: 8%;
    }
    .nav-item{
        font-size: 1.4rem;
        margin-left: 1.4%;
    }

    .title-start{
        font-size: 6rem;
    }

    .code-part{
        padding: 10px;
        box-shadow: 0px 0px #000000;
    }

    .code-text{
        font-size: 2rem;
        width: 100%;
    }

    .code-about{
        width: 90%;
        font-size: 2rem;
    }

     /*START OF EXPLOSION ANIMATION*/
     @keyframes boatAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -40%; top: 18%;} 
    }

    @keyframes musicAnimation {
        0%{left: 0; top: 48%;}
        100%{left: 35%; top: 14%;} 
    }

    @keyframes booknimation {
        0%{left: 0; top: 48%;}
        100%{left: 69%; top: 50%;} 
    }

    @keyframes footbalAnimation {
        0%{left: 0; top: 48%;}
        100%{left: 27%; top: 80%;} 
    }

    @keyframes peice_puzzleAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -37%; top: 86%;} 
    }

    @keyframes paper_planeAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -69%; top: 48%;} 
    }
    /*END EXPLOSION ANIMATION*/
    

    /*START MOVE UP AND DOWN ANIMATION*/

    @keyframes boatUpDownAnimation {
        0%{left: -60%; top:18%;}
        100%{left: -60%; top: 14%;} 
    }

    @keyframes musicUpDownAnimation {
        0%{left: 55%; top: 14%;}
        100%{left: 55%; top: 18%;} 
    }

    @keyframes bookUpDownnimation {
        0%{left: 0%; top: 17%;}
        100%{left: 0%; top: 15%;} 
    }

    @keyframes footbalUpDownAnimation {
        0%{left: 55%; top: 80%;}
        100%{left: 55%; top: 84%;} 
    }

    @keyframes peice_puzzleUpDownAnimation {
        0%{left: -60%; top: 86%;}
        100%{left: -60%; top: 82%;} 
    }

    @keyframes paper_planeUpDownAnimation {
        0%{left: -0%; top:86%;}
        100%{left: -0%; top: 85%;} 
    }

    .email-container{
        width: 100%;
    }

    
    .project-icon{
        font-size: 18px;
    }

    .email-text{
        font-size: 1.5rem;
    }

    .footer-text{
        font-size: 1.3rem;
        width: 100%;
    }
}

@media (max-width:375px) {

    .title{
        font-size: 24vw;
    }

    .code-text{
        font-size: 8vw;
    }
    
    .nav-item{
        font-size: 1.3rem;
        margin-left: 2px;        
    }

    .text-about{
        font-size: 5vw;
        margin-top: 24%;
    }

    .svg{
        width: 80px;
        height: 80px;
    }

    /*START OF EXPLOSION ANIMATION*/
    @keyframes boatAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -60%; top: 18%;} 
    }

    @keyframes musicAnimation {
        0%{left: 0; top: 48%;}
        100%{left: 55%; top: 20%;} 
    }

    @keyframes booknimation {
        0%{left: 0; top: 48%;}
        100%{left: 0; top: 14%;} 
    }

    @keyframes footbalAnimation {
        0%{left: 0; top: 48%;}
        100%{left: 55%; top: 85%;} 
    }

    @keyframes peice_puzzleAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -60%; top: 86%;} 
    }

    @keyframes paper_planeAnimation {
        0%{left: 0; top: 48%;}
        100%{left: -0%; top: 88%;} 
    }
    /*END EXPLOSION ANIMATION*/
    

    /*START MOVE UP AND DOWN ANIMATION*/

    @keyframes boatUpDownAnimation {
        0%{left: -60%; top:18%;}
        100%{left: -60%; top: 14%;} 
    }

    @keyframes musicUpDownAnimation {
        0%{left: 55%; top: 20%;}
        100%{left: 55%; top: 15%;} 
    }

    @keyframes bookUpDownnimation {
        0%{left: 0%; top: 14%;}
        100%{left: 0%; top: 18%;} 
    }

    @keyframes footbalUpDownAnimation {
        0%{left: 55%; top: 85%;}
        100%{left: 55%; top: 89%;} 
    }

    @keyframes peice_puzzleUpDownAnimation {
        0%{left: -60%; top: 86%;}
        100%{left: -60%; top: 90%;} 
    }

    @keyframes paper_planeUpDownAnimation {
        0%{left: -0%; top:88%;}
        100%{left: -0%; top: 85%;} 
    }

    .footer-text{
        font-size: 1rem;
    }

    .circleFollowMouse{
        display: none;
    }
}

@media (max-width:320px) {

    #navbar{
        width: 70%;
    }

    .title{
        font-size: 24vw;
    }

    .code-text{
        font-size: 8vw;
    }
    
    .nav-item{
        font-size: 1.3rem;
        margin-left: 2px;        
    }

    .text-about{
        font-size: 6vw;
        margin-top: 24%;
    }
    .code-text{
        width: 100%;
    }

    .svg{
        width: 80px;
        height: 80px;
    }

    .email-text{
        font-size: 6vw;
    }
}